= image_tag 'apply_success.jpg'
= image_tag 'sprites@2x.png'

%h2 Vielen Dank für Ihre Bewerbung
%p Ihre Daten wurden von Silp an CSS Versicherungen übermittelt. Sie werden kontaktiert, falls Sie als Bewerber in Frage kommen.


%h3 Über passende Jobs informiert werden?

= link_to 'Anmelden', '#'

%p Silp nutzt Ihr Facebook Profil um Ihnen passende Jobs zu schicken.
